/* set margin of all elements to 10px on all sides */
{
	margin: 10px;
}

body {
	background-color: black;
}

#home {
	margin-top: -1cm;
	margin-left: -1cm;
	margin-right: -1cm;
	margin-bottom: -1cm;
	padding-bottom: 2cm;
	padding-top: 2cm;
	background-color: #483355;
}

header {
	font-size: 30px;
	color: rgb(240, 234, 245);
	float: left;
	padding-left: 2cm;
}

/*Navigation bar container */
.topdiv {
	float: right;
	padding-left: 1cm;
}

/* Navigation bar buttons */
.topmenu {
	color: lightgray;
	background-color: #382742;
	margin: 10px;
	padding: 10px;
	border-radius: 1mm;
	font-size: 20px;
	text-decoration: none;
}

.topmenu:hover {
	color: white;
	font-weight: bold;
	background-color: purple;
	text-decoration: underline;
}

#all-connversion-sections {
	justify-content: center;
	display: grid;
}

figure {
	float: left;
	justify-self: auto;
	width: 200px;
}

img {
	width: 200px;
}

figcaption {
	color: black;
	font-size: 17px;
	text-align: center;
}

button {
	font-size: 20px;
	border: transparent;
	border-radius: 40px;
	width: fit-content;
	background-color: lightgreen;
	padding-left: 15px;
	padding-right: 15px;
}

button:hover{
	cursor: pointer;
}

.b {
	border-top-style: solid;
	border-top-width: 20px;
	border-radius: 10px;
	background-color: white;
	width: 600px;
	height: 400px;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
}

.temperature {
	border-top-color: green;
}

.weight {
	border-top-color: coral;
}

.distance {
	border-top-color: cyan;
}

legend {
	font-size: 30px;
	font-weight: bolder;
}

/* floating icon for home button */
.iconbutton{
	width: 40px;
	height: 40px;
	align-items: center;
	border-radius: 100%;
	background-color: cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 40px;
	left: 0;
}

.iconbutton img {
	width: 30px;
}

footer {
	background-color: pink;
	margin-top: 20px;
}